$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;


@mixin laptop {
  @media (width > $laptop) {
    @content
  }
}

@mixin laptop-above {
  @media (width <= $laptop) {
    @content
  }
}

@mixin tablet-above {
  @media (width > $laptop) {
    @content
  }
}

@mixin tablet {
  @media (width <= $laptop) {
    @content
  }
}

@mixin mobile-above {
  @media (width > $laptop) {
    @content
  }
}

@mixin mobile {
  @media (width <= $laptop) {
    @content
  }
}

@mixin mobile-s-above {
  @media (width > $laptop) {
    @content
  }
}

@mixin mobile-s {
  @media (width <= $laptop) {
    @content
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content
    }
  }

  @if($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}



